trianglejump_cpp
trianglejump_js

trianglejump_0000.zkey
trianglejump_0001.zkey
trianglejump.r1cs
trianglejump.sym
pot12_0000.ptau
pot12_0001.ptau
pot12_final.ptau
proof.json
public.json
verification_key.json
verifier.sol
witness.wtns
parameters.txt